@model IEnumerable<WebProgramlamaProje.Models.Randevu>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
}
<link href="~/stlye.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") == false)
    {
        <div id="randevu">
            <div id="randevu-logo-container">
                <img src="~/Kuafor_Resimler/logo.png" />
            </div>
            <h1 id="randevu-h1">@localizer["Randevu"]</h1>
            <h4 id="randevu-h4"><a asp-controller="Home" asp-action="Index">@localizer["Randevu2"]</a>@localizer["Randevu3"]</h4>
        </div>


    }
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <h2 id="admin-h2">Randevu Listesi</h2>
        <table class="table">
            <thead id="admin-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Soyad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.İstekleriniz)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tarih)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kategorim)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="admin-tr">
                        <td>
                            @Html.DisplayFor(modelItem => item.Ad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Soyad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.İstekleriniz)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tarih)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kategorim.Baslik)
                        </td>
                        <td>
                            <div class="admin-btn">
                                <a class="admin-btn1" asp-action="Edit" asp-route-id="@item.RandevuId">Düzenle</a>
                                <a class="admin-btn2" asp-action="Details" asp-route-id="@item.RandevuId">Detaylar</a>
                                <a class="admin-btn3" asp-action="Delete" asp-route-id="@item.RandevuId">Sil</a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
}
