@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@localizer["Tanitim6"]</h1>

<div>
    <h3>@localizer["Giris"]</h3>
    <p>@localizer["Tanitim"]</p>
    <h3>@localizer["Tanitim2"]</h3>
    <p>@localizer["Tanitim3"]</p>
    <h3>@localizer["Tanitim4"]</h3>
    <p>@localizer["Tanitim5"]</p>
</div>