@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/register-login.css" rel="stylesheet" />


<div class="register-login-container">
    <img id="login-img" src="~/Kuafor_Resimler/login_background.jpeg" />
    <div class="row">
        <h1 class="white">@localizer["h1"]</h1>
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4 class="white">@localizer["Baslik"]</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="white" asp-for="Input.Email">@localizer["Eposta"]</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="white" asp-for="Input.Password">@localizer["Sifre"]</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@localizer["GirisYap"]</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">@localizer["Forgot"]</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@localizer["Register"]</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
